<style>


body{
   margin: 50px;
   padding: 100px;
   padding-top: 100px;
   background: black;
   font-family: 'Open Sans Condensed', sans-serif;
}


div{
   margin: 0px;
   padding: 0px;
   font-family: 'Open Sans Condensed', sans-serif;
}
img{
   border: 0px;
   margin: 0px;
   padding: 0px;
}
table{
   margin: 0px;
   padding: 0px;
}
p{
   margin: 15px;
   padding: 0px;
   font-family: 'Open Sans Condensed', sans-serif;
}
ul{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 35px;
   padding: 0px;
   list-style-image: url('image location');
   line-height: 20px; (gives spacing between list items)
}
a{
   text-decoration: underline/none;
   color: black;
   font-weight: bold/normal;
   font-family: 'Open Sans Condensed', sans-serif;
}
a:hover{
   text-decoration: underline/none;
   color: #f2653b;
   font-weight: bold/normal;
   font-family: 'Open Sans Condensed', sans-serif;
   /*make sure to change at least one thing from your a tag definition*/
}
a:visited{
   text-decoration: underline/none;
   color: #193261;
   font-weight: bold/normal;
   font-family: 'Open Sans Condensed', sans-serif;
   /*make sure to change at least one thing from your a tag definition*/
}

h1{
  text-color:white;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

h3{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

h4{
  text-align: center;
  padding:50px;
  font-size: 25px;
  line-height: 26px:
  font-family: 'Open Sans Condensed', sans-serif;
}


.panel,.flip
{
padding:10px;
background-color:#ede7e5;
color:#f2653b;
text-align: right;
cursor:pointer;
box-shadow: 4px 4px 4px grey;
z-index:1000;
line-height: 35px;
}

.flip{
  position: fixed;
  top:0px;
  width:100%;
  font-size: 14px;
  background-color:#ede7e5;
}

.menu{
  float:right;
  padding-right:25px;
  color:black;"
}

.spacer{
  padding:50px;
  background:transparent;
}

.spacersmall{
  padding:25px;
  background:transparent;
}

.spacertiny{
  padding:15px;
  background:transparent;
}

.spacerbig{
  padding:100px;
  background:transparent;
}

.spacerbig{
  padding:2 00px;
  background:transparent;
}


.headliner{
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background:white;
  border-color:grey;
  border-width:5px;
  border-style: solid;

}

.darkgrey{
  background:#6d6d6d;

}


.footer{
  background-color:black;
  color:white;
  text-align: center;
  bottom:0px;
  width:100%;
}

.box{
  border-style: solid;
  border-color: grey;
  border-width: medium;
  border-radius: 2px;
  width:auto;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  padding:10px 10px 20px 10px;

}

.boxWhite{
  border-style: solid;
  border-color: white;
  border-width: medium;
  border-radius: 2px;
  width:auto;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  padding:10px 10px 20px 10px;
  background-color: white;
}

.boxblue {
  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color:#70abce;
  border-width: medium;
  border-radius: 2px;
  background-color:#70abce;
  width:66%;
  height:auto;
  padding:10px;

}

.boxgrey {

  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color:white;
  border-width: medium;
  border-radius: 2px;
  background-color:grey;
  width:90%;
  height:auto;
  padding:10px;

}

.boxNavy {

  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-color:white;
  border-width: medium;
  border-radius: 2px;
  background-color:#193261;
  width:75%;
  height:auto;
  padding:10px;

}

#rokkin{

          width:1920px;
          height:1080px;
          z-index:-1;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
					background-image: url("Cans.png");
        }
.button {
          display: block;
          margin: auto;
          vertical-align: middle;
          text-align: center;
          background: #f2653b;
          font-size: 32px;
          color:white;
          width:75%;
          height:60px;
          box-shadow: 4px 4px 4px #6d6d6d;
          padding:10px;
        }

  .buttonblue {
          display: block;
          margin: auto;
          vertical-align: middle;
          text-align: center;
          background: #70abce;
          font-size: 32px;
          color:white;
          width:75%;
          height:60px;
          box-shadow: 4px 4px 4px #6d6d6d;
          padding:10px;
                }

    .buttongreen {
          margin: auto;
          text-align: center;
          background: #36ff00;
          font-size: 32px;
          color:white;
          width:100%;
          height:60px;
          box-shadow: 4px 4px 4px #6d6d6d;
          padding:10px;
          display:block;
          vertical-align: bottom;
                  }

.whitewash {
          display: block;
          background-color:#fff;
}

.buttonResponsive {
          display: none;
          }

.snapifeye-widget{
          height:auto !important;
          }



.profilepic{
  max-width: 500px;
  max-height: 500px;
  width:66%;
  height:auto;
  margin-left: auto;
  margin-right: auto;

}

.drinks{
  max-width: 200px;
  max-height: 400px;
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;

}
#cans{
width:100vw;
height:auto;
}


@media (max-width: 999px) {

        .drinks{
        display:none;
        }
}


</style>
